body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
    
    width: 900px;
}

.block img {
    width: 100%;
}

.block p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}
