* {
    margin: 0;
    padding: 0;
}



.form-container {
    width: 370px;
    margin: 50px auto;
    text-align: center;
}

.radios-container {
    border: 1px solid lightgray;
}

.block {
    margin-bottom: 7px;
}

.block input, .block textarea, .block select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px 10px;
}

.radios {
    display: flex;
    justify-content: space-evenly;
}

.limbs-radio {
    display: flex;
}

.radios input {
    margin: 5px;
}

#limbs-block {
    border-top: 1px solid lightgrey;
}

.error {
    border: 1px solid color;
    box-shadow: 0px 10px 20px rgba(255, 0, 0, 0.445);
}

.message {
    color: red;
    margin: 5px;
}

.logout-btn {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.logout-btn a {
    border: 1px solid #0d6efd;
    padding: 3px 4px;
    border-radius: 7px;
    background-color: #0d6efd;
    color: #fff;
    text-decoration: none;
    transition: 400ms;
}

.logout-btn a:hover {
    color: #fff;
    background-color: #0553c9;
}
